In [ ]:
username = input("tap your username : ")

In [ ]:
lastname = input("tap your lastname : ")

In [ ]:
Name = lastname + " " + username

In [ ]:
print(Name) #1er exo

In [ ]:
n = int(input("Donnez moi n'importe quel entier : "))

In [ ]:
T = str(n)

In [ ]:
T1= T

In [ ]:
T2= T+T

In [ ]:
T3= T+T+T

In [ ]:
print("Le résultat est: "+ (T1+T2+T3)) #2ème exo

In [ ]:
n = int(input("Donnez moi n'importe quel entier :"))

In [ ]:
if n%2==0 :
    print("L'entier que vous avez entré est paire")
else :
    print("L'entier que vous avez entré est impaire") #3ème exo

In [ ]:
résultat = []

In [ ]:
for i in range(2000,3201):
    if(i%7 == 0) and (i%5 != 0):
        résultat.append(str(i))

In [ ]:
print(",".join(résultat)) #4ème exo

In [3]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
num = int(input("entrez n'importe quel entier"))

entrez n'importe quel entier8

In [4]:
print(factorial(num)) #5ème exo

40320

In [7]:
price = float(input("entrez le prix de l'article"))

entrez le prix de l'article300

In [9]:
if price >= 500:
    price = price/2
if (price < 500) and (price >= 200):
    price -= (price/100)*30
elif price < 200:
    price -= (price/100)*10

In [6]:
print(str(price) +" "+ "$") #7ème exo

280.0 $

In [7]:
def supprimer_les_caractères_d_indice_impaires(n):
    return ''.join([n[i] for i in range(len(n)) if i % 2 == 0])
n=str(input(":"))
résultat = supprimer_les_caractères_d_indice_impaires(n)
print(résultat) #6ème exo

:azerty
aet

In [ ]:
z